<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.css">
    <!-- App CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Customer</title>
</head>
<body>
<div class="py-5 text-center">

    <p class="lead text-muted">Customer</p>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="text-secondary" href="/logout"><span class="oi oi-account-logout"></span></a>
                <span class="oi oi-person"></span>&nbsp;{{.Username}}
                <hr />
                <h2>Car-List</h2>
                <div class="py-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form class="form-inline justify-content-center" action="/add-customer" method="POST">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-lg" name="action" placeholder="Cars">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary btn-lg" type="submit">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group checked-list-box">
                                {{range .cars}}
                                {{if .Done}}
                                <li class="done">
                                    <a href="/toggle-done?id={{.ID}}"><p>{{.Action}}</p></a>
                                    <a href="/delete-car?id={{.ID}}"><span class="oi oi-trash close"></span></a>
                                </li>
                                {{else}}
                                <li>
                                    <a href="/toggle-done?id={{.ID}}"><p>{{.Action}}</p></a>
                                </li>
                                {{end}}
                                {{else}}
                                No cars...
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>